
lab1/.DS_Store

.DS_Store

lab4/homework/cw4/node_modules/

lab4/untitled/.idea/

lab5/homework/.idea/

lab5/homework/cw5_/node_modules/

lab5/homework/cw5_/.idea/

lab4/hotel/.idea/

lab4/hotel/node_modules/
